.info-item{
    margin-left: 170px;
    box-sizing: border-box;
}
.contact-us-form{
    padding: 20px;
    background-color: hsl(0, 3%, 20%);
    width: 70%; /* Reduce width */
    margin-left: 10%; /* Center the form */
}
.row gtr-uniform{
    width: 100px;
}
.actions submit{
    background-color: wheat;

}
.brown-dropdown .select2-results__option {
    background-color: #8B4513; /* Brown background */
    color: white;
}

.brown-dropdown .select2-results__option--highlighted {
    background-color: #5d3a1f; /* Darker brown on hover */
}

@media (max-width: 768px) {
    .contact-us-form {
      width: 90%;
      margin-left: 6%; /* Increase width for mobile view */
    }
    .info-item{
        margin-left: 30%;
    }
}